---
import bookmark_icon from "bootstrap-icons/icons/bookmark.svg?raw";
import bookmark_fill_icon from "bootstrap-icons/icons/bookmark-fill.svg?raw";
import stops_icon from "bootstrap-icons/icons/geo-alt.svg?raw";
import report_icon from "bootstrap-icons/icons/exclamation-triangle.svg?raw";

const {title, direction, length, provider, id, image} = Astro.props;
---


<custom-card-bus data-bus-id={id}>

    <div class="Bus-content" role="button">

        <img class="Bus-image" src={image} />

        <div class="Bus-info">
            <h4 class="Bus-title">{title}</h4>
            <p class="Bus-direction">{direction}</p>

            <div class="Bus-footer">
                <span class="Bus-provider">{provider}</span>
                <span class="Bus-path-length">{length} km   </span>
            </div>
        </div>
    </div>
    
    <div class="Bus-controls">
        <button class="Save-btn btn" title="Guardar">
            <div class="save-icon" set:html={bookmark_icon} />
            <div class="saved-icon" set:html={bookmark_fill_icon} />
        </button>
        <button class="Stops-btn btn" title="Mostrar paradas">
            <div class="stops-icon" set:html={stops_icon} />
        </button>
        <button class="Report-btn btn" title="Corregir recorrido">
            <div class="report-icon" set:html={report_icon} />
        </button>
    </div>
</custom-card-bus>

<script>
    import {CustomCardBus} from "./custom-bus-card.js";

    customElements.define('custom-card-bus', CustomCardBus);
</script>

<style is:global>
    custom-card-bus {

        display: flex;
        height: 100px;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

        .Bus-content {
            flex-grow: 1;
            height: 100%;
            display: flex;
            cursor: pointer;

            &:hover .Bus-info {
                background-color: #e4e4e4;
            }
        }

        .Bus-image {
            display: block;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 1/1;
        }
        
        .Bus-info {
            padding: 10px;
            background-color: #ffffff;
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            .Bus-title {
                font-size: 18px;
                letter-spacing: 2px;
            }
            .Bus-direction {
                font-size: 16px;
                letter-spacing: 1px;
            }
            .Bus-footer {
                font-size: 12px;
                margin-top: auto;
                display: flex;
                justify-content: space-between;
            }
        }

        .Bus-controls { 
            background-color: #ffffff;
            display: flex;
            flex-direction: column;
            border-left: 1px solid #e4e4e4;

            button {
                font-size: 10px;
            }
        }

        .save-icon, .saved-icon {
            color: #333;

            &:hover {
                color: #ce1414;
            }
        }
    
        .saved-icon, &[saved] .save-icon {
            display: none;
        }
        &[saved] .saved-icon {
            display: block;
        }
    }

</style>